* {
    margin: 0;
    padding: 0;
}
.pagina{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
header{
    display: flex;
    border: 1px solid black;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
main{
    display: flex;
    flex-grow: 1;
padding: 5px;
}

.centro{
    flex-grow: 3;
    border: 1px solid black;
display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    }
.esquerda {
    flex-grow: 2;
    border: 1px solid black;
    flex-basis: 40vw;
}
.direita{
    flex-grow: 1;
    border: 1px solid black;
    flex-basis: 20vw;
}

figure{
    border: 1px solid black;
    height: 300px;
    width: 150px;
    display: flex;
    flex-direction: column;
}
footer {
    border: 1px solid black;
    padding: 10px;
    /* position: fixed;
    bottom:0; */
    width: 100%;
}