body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-size: 10px;
    color: white;
}
div{
    text-align: center;
}
.green-background {
    background-color: green;
    flex-basis: 25vw;
    display: flex;
  justify-content: center;
  align-items: center;
}

.yellow-background {
    background-color: yellow;
    flex-grow: 1;
    display: flex;
  justify-content: center;
  align-items: center;
}

.pink-background {
    background-color: fuchsia;
    height: 50vh;
    display: flex;
  justify-content: center;
  align-items: center;
}

.blue-background {
    background-color: blue;
    height: 40vh;
    width: 50vw;
    display: flex;
  justify-content: center;
  align-items: center;
}

.red-background {
    background-color: red;
    height: 20vh;
    display: flex;
  justify-content: center;
  align-items: center;
}

.lightgreen-background {
    background-color: lightgreen;
    height: 20vh;
    display: flex;
  justify-content: center;
  align-items: center;
}

.purple-background {
    background-color: purple;
    height: 5vh;
    display: flex;
  justify-content: center;
  align-items: center;
}

#main-container{
    display: flex;
    flex-direction: column;
}
#top-container{
    display: flex;
    height: 5vh;
}
#middle-container{
    display: flex;
}
#blank{
    height: 40vh;
    width: 25vw;
}
#vertical-middle-container{
    width: 25vw;
}