* {
    margin: 0;
    padding: 0;
}
.pagina{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
header{
    display: flex;
    border: 1px solid black;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
main{
    flex-grow: 1;
    padding: 10px;
    display: flex;
}
.centro{
    border: 1px solid black;
    flex-grow: 3;
}
.esquerda {
    flex-grow: 2;
    flex-basis: 40vw;
    border: 1px solid black;
}
.direita{
    flex-grow: 1;
    border: 1px solid black;
    flex-basis: 20vw;
}
footer {
    border: 1px solid black;
    padding: 10px;
}