* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    justify-items: start;
    border: 1px solid black;
}
button{
    justify-self: end;
}

footer{
    border: 1px solid black;
    padding: 10px;
}
.pagina{
    height: 100vh;
    display: grid;
    grid-template-rows: 10vh 7fr 10vh;
    
}